In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,explained_variance_score
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.linear_model import LinearRegression
from math import sqrt
import warnings
warnings.filterwarnings("ignore")
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std



plt.rc("axes.spines", top=False, right=False)


import wrangle
import split_scale
import evaluate
import features

Accuire Data

In [2]:
from env import host, user, password

In [3]:
#data for baseline model
df=wrangle.get_data_from_mysql()
df_engine=df

In [4]:
df_engine.head()

,transactiondate,id,bathrooms,bedrooms,lotsizesquarefeet,sqft,tax_value,region_id
0,2017-06-30,1772,2.0,4.0,6211.0,1604.0,498347.0,12447.0
1,2017-06-01,2028,3.0,3.0,9109.0,2384.0,549917.0,12447.0
2,2017-06-01,3273,2.0,3.0,7538.0,1574.0,235272.0,5534.0
3,2017-06-29,3429,2.0,2.0,111564.0,1619.0,340000.0,40227.0
4,2017-06-27,4505,3.0,2.0,10497.0,2408.0,2017254.0,12447.0

In [5]:
df_engine.drop(['transactiondate', 'id'], axis = 1).head()

   bathrooms  bedrooms  lotsizesquarefeet    sqft  tax_value  region_id
0        2.0       4.0             6211.0  1604.0   498347.0    12447.0
1        3.0       3.0             9109.0  2384.0   549917.0    12447.0
2        2.0       3.0             7538.0  1574.0   235272.0     5534.0
3        2.0       2.0           111564.0  1619.0   340000.0    40227.0
4        3.0       2.0            10497.0  2408.0  2017254.0    12447.0

In [6]:
#data for tax rate distribution
df_tax = wrangle.taxcounty()

In [7]:
df_tax.head()

   tax_value    fips  taxamount  tax_rate
0   498347.0  6037.0    6089.82    0.0122
1   549917.0  6037.0    6679.55    0.0121
2   235272.0  6037.0    3876.31    0.0165
3   340000.0  6037.0    4206.15    0.0124
4  2017254.0  6037.0   24353.42    0.0121

Clean Data

In [8]:
df_engine.head()

,transactiondate,id,bathrooms,bedrooms,lotsizesquarefeet,sqft,tax_value,region_id
0,2017-06-30,1772,2.0,4.0,6211.0,1604.0,498347.0,12447.0
1,2017-06-01,2028,3.0,3.0,9109.0,2384.0,549917.0,12447.0
2,2017-06-01,3273,2.0,3.0,7538.0,1574.0,235272.0,5534.0
3,2017-06-29,3429,2.0,2.0,111564.0,1619.0,340000.0,40227.0
4,2017-06-27,4505,3.0,2.0,10497.0,2408.0,2017254.0,12447.0

In [9]:
df_engine = df.filter(['bedrooms','bathrooms','sqft', 'lotsizesquarefeet', 'region_id','tax_value'], axis=1)

In [10]:
df_engine.head()

   bedrooms  bathrooms    sqft  lotsizesquarefeet  region_id  tax_value
0       4.0        2.0  1604.0             6211.0    12447.0   498347.0
1       3.0        3.0  2384.0             9109.0    12447.0   549917.0
2       3.0        2.0  1574.0             7538.0     5534.0   235272.0
3       2.0        2.0  1619.0           111564.0    40227.0   340000.0
4       2.0        3.0  2408.0            10497.0    12447.0  2017254.0

Split and Scale Data

In [11]:
train_engine, test_engine = split_scale.split_my_data(df_engine,train_ratio=.8,seed=123)

In [12]:
# impute a random column so we can test our feature engineering functions

scaler, train_scaled, test_scaled = \
    split_scale.standard_scaler(train_engine, test_engine)

In [13]:
X_train_engine = train_engine.drop(columns='tax_value')
y_train_engine = train_engine[['tax_value']]
X_test_engine = test_engine.drop(columns='tax_value')
y_test_engine = test_engine[['tax_value']]

Feature Engieering

In [16]:
train_engine['filler'] = -1
test_engine['filler'] = -1

train_scaled['filler'] = 1
test_scaled['filler'] = 1

In [17]:
train_scaled.head()

,bedrooms,bathrooms,sqft,lotsizesquarefeet,region_id,tax_value,filler
3396,-2.368441,-1.189873,-1.147011,-0.081050,-0.417016,-0.520056,1
9893,0.790348,-0.200811,0.012995,-0.043387,-0.164886,-0.262680,1
6069,-0.262581,-0.200811,-0.200004,-0.072112,-0.431133,-0.414941,1
14615,0.790348,0.788251,0.317875,-0.081616,-0.445783,0.427009,1
3172,-1.315511,-1.189873,-0.433884,-0.056350,0.177448,-0.048798,1

In [18]:
#Ktest
features.select_kbest_freg_unscaled(X_train_engine, y_train_engine, 3)

['bedrooms', 'bathrooms', 'sqft']

In [19]:
#Ktest
features.select_kbest_freg_scaled(X_train_engine, y_train_engine, 3)

['bedrooms', 'bathrooms', 'sqft']

In [20]:
#Backward elimination
#takes scaled dataframes (X and y) as input and returns selected features based on the ols backwards elimination method.
features.ols_backward_elimination(X_train_engine, y_train_engine)

['bedrooms', 'bathrooms', 'sqft']

In [29]:
features.optimal_features(X_train_engine, X_test_engine, y_train_engine, 3)

(Index(['bedrooms', 'bathrooms', 'sqft'], dtype='object'),
        bedrooms  bathrooms    sqft
 0           1.0        1.0   728.0
 1           4.0        2.0  1839.0
 2           3.0        2.0  1635.0
 3           4.0        3.0  2131.0
 4           2.0        1.0  1411.0
 5           3.0        1.0  1196.0
 6           4.0        2.0  1760.0
 7           6.0        4.0  6725.0
 8           2.0        2.0  1135.0
 9           2.0        1.0   713.0
 10          3.0        2.0  1272.0
 11          3.0        3.0  3188.0
 12          4.0        2.0  1931.0
 13          3.0        2.0  1917.0
 14          3.0        3.0  2220.0
 15          5.0        1.0  1477.0
 16          4.0        2.0  3119.0
 17          3.0        3.0  1738.0
 18          3.0        2.0  1726.0
 19          2.0        1.0   994.0
 20          3.0        2.0  2317.0
 21          4.0        3.0  2124.0
 22          3.0        1.0  1629.0
 23          4.0        3.5  2911.0
 24          2.0        3.0  2164.0
 25          5.0        3.0  3208.0
 26          4.0        3.0  2806.0
 27          2.0        1.0  1236.0
 28          3.0        1.0  1080.0
 29          4.0        5.0  3343.0
 30          3.0        2.0  1476.0
 31          3.0        2.0  1644.0
 32          4.0        2.5  2195.0
 33          3.0        2.0  1520.0
 34          3.0        1.0  1420.0
 35          2.0        1.0  1190.0
 36          2.0        2.0  1519.0
 37          4.0        1.0  1574.0
 38          5.0        3.0  1748.0
 39          3.0        2.0  1705.0
 40          4.0        5.5  3744.0
 41          3.0        2.0  1316.0
 42          4.0        2.0  1317.0
 43          2.0        1.0  1200.0
 44          5.0        3.0  2049.0
 45          4.0        2.5  2676.0
 46          3.0        3.0  2675.0
 47          3.0        1.0  1014.0
 48          3.0        1.0  1186.0
 49          3.0        1.0  1246.0
 50          5.0        5.0  3977.0
 51          4.0        4.5  4357.0
 52          5.0        2.5  2080.0
 53          4.0        3.0  3000.0
 54          5.0        3.0  1884.0
 55          3.0        1.0  1227.0
 56          3.0        2.0  1534.0
 57          3.0        2.0  1202.0
 58          4.0        2.5  2477.0
 59          3.0        2.0  1350.0
 60          5.0        5.0  4523.0
 61          2.0        1.0  2188.0
 62          3.0        2.0  1160.0
 63          3.0        1.0  1141.0
 64          5.0        3.0  2771.0
 65          3.0        1.0  1098.0
 66          3.0        2.0  1113.0
 67          3.0        3.0  2507.0
 68          2.0        1.0   806.0
 69          2.0        1.0  1088.0
 70          5.0        6.0  6883.0
 71          2.0        1.0  1028.0
 72          4.0        4.0  3750.0
 73          3.0        2.0  1071.0
 74          4.0        2.5  2352.0
 75          3.0        1.0  1019.0
 76          2.0        1.0  1256.0
 77          4.0        2.0  1478.0
 78          5.0        4.0  2906.0
 79          4.0        2.0  2097.0
 80          5.0        3.0  2244.0
 81          4.0        2.0  1176.0
 82          3.0        3.0  1906.0
 83          2.0        1.0  1282.0
 84          2.0        1.0   836.0
 ...         ...        ...     ...
 12450       4.0        4.0  2845.0
 12451       3.0        3.0  2726.0
 12452       3.0        2.0  1620.0
 12453       5.0        3.0  3480.0
 12454       3.0        1.0  1492.0
 12455       4.0        2.0  1750.0
 12456       5.0        2.5  2702.0
 12457       4.0        2.0  2051.0
 12458       3.0        2.0  1332.0
 12459       3.0        3.0  1467.0
 12460       3.0        1.0   912.0
 12461       3.0        3.5  5462.0
 12462       3.0        3.0  2115.0
 12463       3.0        2.0  1857.0
 12464       3.0        2.0  1217.0
 12465       3.0        2.0  1202.0
 12466       3.0        3.0  2580.0
 12467       2.0        1.0   631.0
 12468       4.0        2.0  1950.0
 12469       4.0        2.0  1306.0
 12470       4.0        3.0  2412.0
 12471       4.0        3.0  2666.0
 12472       3.0        3.0  2332.0
 12473       3.0        3.0  2652.0
 12474       3.0        3.0  1507.0
 12475       6.0        5.0  4501.0
 12476       3.0        4.0  3079.0
 12477       4.0        2.5  2989.0
 12478       4.0        3.0  2152.0
 12479       4.0        3.0  2202.0
 12480       4.0        2.0  1533.0
 12481       3.0        2.0  1355.0
 12482       2.0        1.0   878.0
 12483       3.0        1.0  1122.0
 12484       3.0        2.0  1192.0
 12485       3.0        1.0  1257.0
 12486       3.0        3.0  1294.0
 12487       5.0        5.0  4589.0
 12488       2.0        1.0   924.0
 12489       2.0        1.0   912.0
 12490       3.0        3.0  1695.0
 12491       4.0        2.0  1909.0
 12492       3.0        3.0  2513.0
 12493       4.0        3.0  2544.0
 12494       4.0        3.0  2612.0
 12495       4.0        2.0  1759.0
 12496       5.0        4.0  2941.0
 12497       2.0        2.0  1224.0
 12498       1.0        1.0   684.0
 12499       3.0        3.0  2133.0
 12500       4.0        2.0  1640.0
 12501       3.0        2.0  1407.0
 12502       2.0        1.0  1030.0
 12503       2.0        1.0  1056.0
 12504       3.0        2.0  1330.0
 12505       4.0        3.0  1924.0
 12506       3.0        3.0  1712.0
 12507       3.0        2.0  2009.0
 12508       3.0        2.0  1364.0
 12509       4.0        2.0  1977.0
 12510       2.0        1.0  1126.0
 12511       3.0        2.0  1670.0
 12512       2.0        1.0   989.0
 12513       3.0        3.0  2471.0
 12514       3.0        1.0  1056.0
 12515       4.0        2.0  1769.0
 12516       3.0        2.0  1426.0
 12517       2.0        1.0   887.0
 12518       3.0        2.0  1270.0
 12519       3.0        2.0  1583.0
 12520       6.0        3.0  2312.0
 12521       2.0        2.0  1815.0
 12522       2.0        1.0   896.0
 12523       4.0        1.5  1249.0
 12524       4.0        2.5  1983.0
 12525       4.0        3.0  2276.0
 12526       1.0        1.0   632.0
 12527       4.0        2.0  1962.0
 12528       4.0        4.0  3951.0
 12529       4.0        3.0  2217.0
 12530       3.0        1.0  1556.0
 12531       2.0        1.0  1016.0
 12532       4.0        2.0  1728.0
 12533       2.0        1.0  1568.0
 12534       3.0        2.0  1188.0

 [12535 rows x 3 columns],
       bedrooms  bathrooms    sqft
 0          4.0        2.0  2307.0
 1          4.0        3.0  2282.0
 2          2.0        2.0  1245.0
 3          3.0        2.0  1728.0
 4          2.0        1.0   932.0
 5          2.0        1.0  1002.0
 6          3.0        1.0  1314.0
 7          4.0        3.0  2347.0
 8          4.0        2.0  1698.0
 9          3.0        2.0  1714.0
 10         2.0        1.0  1413.0
 11         5.0        3.0  3456.0
 12         3.0        3.0  1698.0
 13         3.0        2.0  1260.0
 14         3.0        2.0  1643.0
 15         2.0        1.0  1170.0
 16         3.0        2.0  1250.0
 17         4.0        3.0  2314.0
 18         3.0        2.0  1198.0
 19         5.0        3.0  4001.0
 20         2.0        1.0   950.0
 21         3.0        2.0  1639.0
 22         3.0        2.0  1672.0
 23         3.0        3.0  3071.0
 24         3.0        2.0  1318.0
 25         4.0        3.0  1464.0
 26         3.0        2.0  1311.0
 27         4.0        4.0  3115.0
 28         6.0        2.0  2964.0
 29         5.0        3.0  2043.0
 30         2.0        1.0   864.0
 31         3.0        2.5  2398.0
 32         3.0        2.0  1247.0
 33         3.0        2.0  1308.0
 34         3.0        2.0  1212.0
 35         4.0        2.0  1292.0
 36         3.0        2.0  1442.0
 37         4.0        4.5  3436.0
 38         3.0        2.5  1835.0
 39         3.0        2.0  1182.0
 40         3.0        3.0  2049.0
 41         3.0        3.0  2392.0
 42         4.0        2.0   906.0
 43         4.0        6.0  4769.0
 44         5.0        3.0  2467.0
 45         3.0        2.0  1436.0
 46         4.0        2.0  1428.0
 47         2.0        1.0  1161.0
 48         2.0        2.0  1620.0
 49         4.0        4.0  3050.0
 50         2.0        1.0   990.0
 51         3.0        1.0  1157.0
 52         2.0        2.5  1410.0
 53         4.0        4.0  2740.0
 54         2.0        1.0  1022.0
 55         4.0        4.0  3641.0
 56         3.0        1.5   988.0
 57         4.0        2.0  1593.0
 58         3.0        2.0  1280.0
 59         3.0        1.0  1541.0
 60         4.0        2.0  1755.0
 61         4.0        2.0  1346.0
 62         2.0        1.0  1279.0
 63         3.0        2.0  1361.0
 64         4.0        2.0  1442.0
 65         3.0        1.0   887.0
 66         3.0        2.0  1132.0
 67         2.0        1.0   572.0
 68         3.0        1.0   936.0
 69         2.0        1.0   620.0
 70         2.0        1.0  1118.0
 71         4.0        3.0  1584.0
 72         4.0        3.0  2082.0
 73         3.0        2.0  1296.0
 74         2.0        1.0  1416.0
 75         3.0        2.0  1215.0
 76         2.0        1.0  1079.0
 77         3.0        2.5  3472.0
 78         4.0        2.0  1330.0
 79         3.0        2.0  1362.0
 80         3.0        1.0   995.0
 81         3.0        2.0  1309.0
 82         4.0        2.0  1192.0
 83         2.0        2.0  1788.0
 84         3.0        2.5  1693.0
 ...        ...        ...     ...
 3049       2.0        1.0  1084.0
 3050       3.0        3.0  2284.0
 3051       2.0        1.0  1534.0
 3052       3.0        2.0  1244.0
 3053       3.0        2.0  1120.0
 3054       2.0        1.0   888.0
 3055       4.0        2.5  2559.0
 3056       1.0        1.0   320.0
 3057       2.0        1.0   851.0
 3058       2.0        1.0  1433.0
 3059       3.0        2.0  1140.0
 3060       2.0        1.0  1010.0
 3061       4.0        2.0  1652.0
 3062       2.0        1.0   936.0
 3063       5.0        3.0  2897.0
 3064       3.0        3.0  2220.0
 3065       5.0        3.0  1950.0
 3066       2.0        3.0  2119.0
 3067       3.0        2.0  1634.0
 3068       4.0        3.0  2737.0
 3069       2.0        2.0  1519.0
 3070       3.0        1.0   936.0
 3071       2.0        3.0  1838.0
 3072       3.0        2.0  1489.0
 3073       4.0        2.0  1535.0
 3074       3.0        2.0  1096.0
 3075       4.0        3.0  1996.0
 3076       4.0        2.5  1725.0
 3077       4.0        2.5  2101.0
 3078       3.0        2.0  1364.0
 3079       1.0        1.0   718.0
 3080       4.0        4.0  2644.0
 3081       3.0        1.0  1261.0
 3082       5.0        6.0  4593.0
 3083       3.0        2.0  1265.0
 3084       3.0        2.0  1670.0
 3085       3.0        3.0  1754.0
 3086       2.0        1.0   576.0
 3087       4.0        4.0  4698.0
 3088       3.0        2.0  1712.0
 3089       4.0        2.0  2314.0
 3090       3.0        2.0  1312.0
 3091       2.0        1.0  1082.0
 3092       3.0        2.0  1358.0
 3093       4.0        4.5  3660.0
 3094       2.0        1.0  1265.0
 3095       3.0        3.0  2269.0
 3096       3.0        2.0  1386.0
 3097       4.0        2.0  1441.0
 3098       4.0        1.0  1905.0
 3099       3.0        3.0  3096.0
 3100       3.0        2.0  1590.0
 3101       4.0        2.0  1480.0
 3102       3.0        2.0  1065.0
 3103       3.0        2.0  1507.0
 3104       2.0        1.0   845.0
 3105       4.0        2.0  1631.0
 3106       3.0        2.0  1464.0
 3107       3.0        2.0  2001.0
 3108       4.0        2.0  1353.0
 3109       3.0        2.0  1255.0
 3110       4.0        5.0  4242.0
 3111       4.0        4.0  4191.0
 3112       2.0        1.0   660.0
 3113       4.0        3.0  2473.0
 3114       3.0        1.0   953.0
 3115       3.0        2.0  1296.0
 3116       3.0        1.0  1468.0
 3117       3.0        2.0  1896.0
 3118       3.0        2.0  1492.0
 3119       4.0        2.0  1626.0
 3120       3.0        2.0  1452.0
 3121       5.0        2.0  1786.0
 3122       3.0        3.0  2303.0
 3123       2.0        2.0  1020.0
 3124       3.0        3.0  2353.0
 3125       3.0        2.0  1757.0
 3126       4.0        2.0  1466.0
 3127       3.0        1.0   960.0
 3128       6.0        3.0  2008.0
 3129       2.0        1.0  1224.0
 3130       3.0        2.0  1398.0
 3131       4.0        3.0  2488.0
 3132       4.0        5.0  3631.0
 3133       4.0        2.0  1228.0

 [3134 rows x 3 columns])