In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env
import wrangle
from wrangle import get_data_from_mysql

For the first iteration of your model, use only square feet of the home, number of bedrooms, and number of bathrooms to estimate the properties assessed value, 'taxvaluedollarcnt'.

In [18]:
from env import host, user, password

In [19]:

df=wrangle.get_data_from_mysql()

In [10]:
df

,bedrooms,bathrooms,taxvaluedollarcnt,propertylandusetypeid,squarefeet
0,3.0,1.0,305481.0,261.0,1136.0
1,3.0,2.0,418694.0,261.0,2104.0
2,2.0,1.0,169843.0,261.0,872.0
3,3.0,1.0,194005.0,261.0,1190.0
4,3.0,2.0,288259.0,261.0,1534.0
5,3.0,2.0,433000.0,261.0,1247.0
6,4.0,4.0,475804.0,261.0,2616.0
7,2.0,2.0,81956.0,261.0,1194.0
8,3.0,2.0,299690.0,261.0,1292.0
9,2.0,1.0,38257.0,261.0,690.0
10,2.0,1.0,161736.0,261.0,958.0
11,3.0,2.0,186363.0,261.0,1362.0
12,3.0,2.0,440438.0,261.0,1862.0
13,3.0,3.0,94225.0,261.0,2133.0
14,2.0,1.0,43850.0,261.0,957.0
15,3.0,2.0,433500.0,261.0,1336.0
16,3.0,2.0,214215.0,261.0,1371.0
17,3.0,2.0,203463.0,261.0,1419.0
18,2.0,1.0,378000.0,261.0,810.0
19,3.0,2.0,212932.0,261.0,1306.0
20,4.0,3.0,275849.0,261.0,1926.0
21,3.0,2.0,274197.0,261.0,1649.0
22,2.0,1.0,164436.0,261.0,1095.0
23,3.0,2.0,415924.0,261.0,1662.0
24,3.0,2.0,264609.0,261.0,1615.0
25,3.0,1.0,355336.0,261.0,1118.0
26,2.0,2.0,205299.0,261.0,1369.0
27,3.0,1.0,254564.0,261.0,1148.0
28,3.0,2.0,53387.0,261.0,1216.0
29,4.0,2.0,63736.0,261.0,1602.0
...,...,...,...,...,...
16045,3.0,1.0,315189.0,261.0,888.0
16046,2.0,1.0,384000.0,261.0,1120.0
16047,3.0,2.0,254060.0,261.0,1547.0
16048,3.0,2.0,335000.0,261.0,1613.0
16049,3.0,1.0,45925.0,261.0,1086.0
16050,4.0,2.0,210549.0,261.0,1354.0
16051,2.0,2.0,51727.0,261.0,1511.0
16052,2.0,1.0,220896.0,261.0,675.0
16053,2.0,1.0,25215.0,261.0,760.0
16054,3.0,1.0,184936.0,261.0,880.0
16055,2.0,1.0,143936.0,261.0,866.0
16056,3.0,2.0,317907.0,261.0,1045.0
16057,3.0,1.0,301533.0,261.0,830.0
16058,2.0,1.0,202399.0,261.0,755.0
16059,3.0,1.0,237507.0,261.0,945.0
16060,4.0,3.0,512701.0,261.0,2151.0
16061,4.0,2.0,84604.0,261.0,1357.0
16062,4.0,2.0,491010.0,261.0,1357.0
16063,3.0,2.0,83556.0,261.0,1459.0
16064,3.0,2.0,213735.0,261.0,1725.0
16065,3.0,2.0,208601.0,261.0,1284.0
16066,3.0,2.0,364080.0,261.0,1284.0
16067,6.0,5.0,337869.0,261.0,2745.0
16068,3.0,1.0,192065.0,261.0,1357.0
16069,2.0,1.0,59830.0,261.0,872.0
16070,3.0,2.0,321351.0,261.0,2040.0
16071,2.0,1.0,32830.0,261.0,1292.0
16072,1.0,1.0,324000.0,261.0,684.0
16073,4.0,2.0,284770.0,261.0,1536.0
16074,4.0,2.0,441000.0,261.0,1706.0

In [5]:
df = df.rename(columns={"bedroomcnt": "bedrooms", "bathroomcnt": "bathrooms", "calculatedfinishedsquarefeet": "squarefeet"})

In [12]:
df.describe()

,bedrooms,bathrooms,taxvaluedollarcnt,propertylandusetypeid,squarefeet
count,16075.000000,16075.000000,1.607200e+04,16075.0,16035.000000
mean,3.234961,2.202799,4.641904e+05,261.0,1834.159464
std,0.977142,1.036937,6.537579e+05,0.0,988.938585
min,0.000000,0.000000,1.900000e+01,261.0,60.000000
25%,3.000000,2.000000,1.803710e+05,261.0,1231.000000
50%,3.000000,2.000000,3.186695e+05,261.0,1590.000000
75%,4.000000,3.000000,5.281412e+05,261.0,2160.000000
max,25.000000,20.000000,1.912982e+07,261.0,26345.000000

In [13]:
X = df[['bedrooms', 'bathrooms','squarefeet']]
y= df['taxvaluedollarcnt']

In [16]:
##Split Test,Train
import pandas as pd
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)
print(train.shape); print(test.shape)

NameError: name 'train' is not defined

In [15]:
from sklearn.preprocessing import StandardScaler, QuantileTransformer, PowerTransformer, RobustScaler, MinMaxScaler

In [ ]:
scaler = StandardScaler(copy=True, with_mean=True, with_std=True)\
            .fit(train) # fit the object

In [ ]:
import math

print("Mean:") 
print(scaler.mean_)
print("Standard Deviation:")
print([math.sqrt(i) for i in scaler.var_])

In [ ]:
train_scaled_data = scaler.transform(train)
test_scaled_data = scaler.transform(test)

In [ ]:
# create object & fit
scaler = StandardScaler(copy=True, with_mean=True, with_std=True).fit(train)
# transform train
train_scaled = pd.DataFrame(scaler.transform(train), columns=train.columns.values).set_index([train.index.values])
# transform test
test_scaled = pd.DataFrame(scaler.transform(test), columns=test.columns.values).set_index([test.index.values])

In [ ]:
train_scaled.head()

In [ ]:
#Exploration

In [ ]:
g = sns.PairGrid(train)
g.map_diag(plt.hist)
g.map_offdiag(plt.scatter);

Training the Model
Now its time to train our model on our training data!
** Import LinearRegression from sklearn.linear_model

In [ ]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [ ]:
lm.fit(X_train, y_train)
print("Linear Model:", lm1)

lm_y_intercept = lm1.intercept_
print("intercept: ", lm1_y_intercept)

lm_coefficients = lm1.coef_
print("coefficients: ", lm1_coefficients)